@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: rgb(66, 66, 66);
}
.text-light-gray{
    color:rgb(114, 114, 114);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner, .banner-content{
    margin:0px 150px;
}
    .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
 
.banner-image{
    width: 100%;
}
.teams{
    display: flex;
    /* margin:0px 150px; */
    /* margin-top: 60px; */
    margin-left: 130px;
    max-width: 530px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.our-features{
    margin-left: 130px;
    max-width: 100%;
    /* max-width: 530px; */
    /* margin-right: 60px; */
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-description{
    margin-bottom: 20px;
}
.quick-list{
    font-weight: 500;
}
.text-primary{
    color: rgb(255, 144, 14);
}
.feature-description, .banner-description{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
}

/* responsive media queries for small device */
@media screen and (max-width:576px){
    .nab-banner,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* responsive media queries for medium device  */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px 20px;
    }
}